<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{name}}'s Watchlist</title>

</head>
<body>
    <h2>{{name}}'s Watchlist</h2>
    {# use length filter to get the #}
    <p>{{movies|length}} Title</p>
    <ul>
        {% for movie in movies %} {# recurse movie variable#}
        <li>{{ movie.title }} - {{ movie.year }}</li>
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>
</html>